.venv/
llama-3-8b/
SinLlama_v01/
SinLlama_merged/
SinLlama_merged_bf16/
sinllama_compact_lora_r16_cpu/
sinllama_merged_fp32_cpu/
unsloth_compiled_cache/
OASST2/
data/

.env
*.txt
*.pt
*.json
*.jsonl
*.tar*

!requirements.txt